pkgbase = legeana-raspberry-pi-config
	pkgdesc = Raspberry Pi configuration
	pkgver = 0.0.3
	pkgrel = 1
	install = rpi-config.install
	arch = any
	license = MIT
	depends = inetutils
	depends = man-db
	depends = mlocate
	depends = wpa_supplicant
	optdepends = argonone: fan control
	optdepends = bindfs: cooperative development
	optdepends = python-gpiozero: gpio library
	optdepends = python-raspberry-gpio: gpio library
	backup = etc/udev/rules.d/gpio.rules
	backup = etc/systemd/network/wlan0.network
	backup = etc/wpa_supplicant/wpa_supplicant-wlan0.conf
	source = gpio.rules
	source = wlan0.network
	source = wpa_supplicant-wlan0.conf
	sha256sums = 9abcf02cf3bc875d83572b0cb49daa9a9c99fedff510d93ffcc27d5350b0efc7
	sha256sums = ac464435e0a978be0b7c5c45cc535d1b3da2d5bffa0cabe5c68b691e3f7a3283
	sha256sums = 1e3f3187f9128c4a5ef3fd6494a8192497019d77d2bda93156f5785daccb9682

pkgname = legeana-raspberry-pi-config

